@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,500;0,700;1,100;1,200;1,300;1,600;1,700&display=swap');
/*
font-family: 'Monda', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/*Principal*/
html{
    background-color: #1B1B1B;
}

body{
    background-color: #1B1B1B;
    font-family: 'Montserrat', sans-serif;
}

/*Header i sobre mi*/
.background_header{
    width: 100%;
    height: 700px;
    background-image: url(../img/backgroundHeader2.png);
    background-size: cover;
    background-repeat: none;
    background-position: bottom; 
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    font-size: 3em;
    text-align: center;
}

h2{
    color: white;
    font-size: 2em;
    text-align: center;
}
h3{
    color: white;
    text-align: left;
    letter-spacing: 2px;
    word-spacing: 13px;
}
p{
    color: white;
}
.jo{
    width: 50%;
    position: relative;
    top: 0px;
    right: 2000px;
    animation-name: imatgeJo;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes imatgeJo{
    from{
        
    }
    to{
        right: 0px;
    }
}

.me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}


.sobre_mi p{
    color: white;
    text-align: left;
}
.sobre_mi{
    animation-name: imatgeJo;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    position: relative;
    top: 0px;
    right: -2000px;
}

@keyframes imatgeJo{
    from{
        
    }
    to{
        right: 0px;
    }
}



/*Titols*/
.titols{
    height: 2100px;
    background-image: url(../img/backgroundTitols2.png);
    background-repeat: none;
    background-size: cover;
    color: white;
    margin-bottom: 50px;
}

.titols h2{
    text-align: center;
    margin-top: 100px;
    font-size: 3em;
}
.fullContainerTitols{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerTitols{
    width: 80%;
    height: 100%;
}
.box{
    width: 330px;
    height: 400px;
    position: absolute;
}  
.box h4{
    text-align: center;
    font-size: 2.1em;
    margin: 10px;
}
.box img{
    width: 170px;
}
.box1{
    background-color: #454242;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 1550px;
    right: 900px;
}
.box1 h4{
    margin-bottom: 70px;
}
.box1 img{
    width: 140px;
}

.box2{
    background-color: #4F4F4F;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 1500px;
    right: 340px;
} 
.box2 h4{
    margin-bottom: 70px;
}
.box2 img{
    width: 140px;
    margin-left: 120px;
}


.box3{
    background-color: #717070;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 1700px;
    right: 530px;
} 
.box4{
    background-color: #676767;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 1900px;
    right: 820px;
} 
.box4 h4{
    margin-bottom: 10px;
}
.box4 img{
    width: 200px;
}
.box5{
    background-color: #3C3838;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 1950px;
    right: 280px;
}
.box5 h4{
    font-size: 1.8em;
    margin-bottom: 70px;
    margin-left: 100px;
}
.box5 img{
    width: 250px;
}
.box6{
    background-color: #2F2F2D;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 2270px;
    right: 860px;
} 
.box6 h4{
    margin-top: 70px;
    margin-bottom: 40px;
}
.box6 img{
    width: 100px;
}
.box7{
    background-color: #585855;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 2300px;
    right: 470px;
} 
.box7 h4{
    margin-bottom: 70px;
}
.box7 img{
    width: 400px;
}

/*Coneixements*/
.coneixements{
    width: 100%;
    height: 1650px;
    background-image: url(../img/backgroundConeixements.png); 
    background-repeat: none;
    background-size: cover;
}
.coneixements h2{
    text-align: center;
    padding-top: 50px;
}
.container-coneixements{
    display: flex;
    justify-content: center;
}
.progresss{
    margin-top: 100px;
    width: 80%;
    background: linear-gradient(#324047, #AA5E58);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 39px black;

    animation-name: progresss;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    position: relative;
    top: 2000px;
    right: 0px;
}
@keyframes progresss{
    0%{

    }
    100%{
        top: 0px;
    }
}

.num{
    margin: 15px;
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.oscuro{
    width: 260px;
    height: 260px;
    background-color: #FFFFFF;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cercle{
    background-color: #324047;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num p{
    margin-top: 20px;
    text-align: center;
    font-size: 1.7em;
}

.percent p{
    text-align: center;
    margin-top: 0px;
    font-size: 3em;
    
}


.formacioText{
    text-align: center;
}
.formacioText h2{
    margin-top: 350px;
}

/*Formació*/
.formacioText{
    width: 100%;
    margin-top: 150px;
    text-align: center;

}
.formacioText h2{
    font-size: 3em !important;
}
.formacioText p{
    font-size: 1.5em;
}
.JV{
    width: 100%;
    height: 500px;
    background-image: url(../img/formacio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/*Footer*/
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
}
.containerFooter{
    margin: 40px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
}
.containerFooter p{
    margin: 0px;
    font-size: 1.2em;
}
.social img{
    width: 40px;
    margin: 0px 10px;
}

@media screen and (max-width: 1250px) {
    
    .box1{
       right: 700px;
    }
    .box2{
        right: 200px;
    }
    .box3{
        right: 400px;
    }
    .box4{
        right: 680px;
    }
    .box5{
        right: 150px;
    }
    .box6{
        right: 740px;
    }
    .box7{
        right: 300px;
    }
    .coneixements{
        height: 2000px;
        
    }
    .formacioText h2{
        margin-top: 50px;
    }
}
@media screen and (max-width: 1070px) {
    
    .box1{
       right: 640px;
    }
    .box2{
        right: 160px;
    }
    .box3{
        right: 360px;
    }
    .box4{
        right: 630px;
    }
    .box5{
        right: 110px;
    }
    .box6{
        right: 700px;
    }
    .box7{
        right: 260px;
    }
}

@media screen and (max-width: 980px) {
    
    .box1{
       right: 580px;
    }
    .box2{
        right: 100px;
    }
    .box3{
        right: 300px;
    }
    .box4{
        right: 570px;
    }
    .box5{
        right: 80px;
    }
    .box6{
        right: 600px;
    }
    .box7{
        right: 200px;
    }
}

@media screen and (max-width: 900px) {
    
    .box1{
       right: 500px;
    }
    .box2{
        right: 50px;
    }
    .box3{
        right: 250px;
    }
    .box4{
        right: 530px;
    }
    .box5{
        right: 10px;
    }
    .box6{
        right: 560px;
    }
    .box7{
        right: 170px;
    }
}
@media screen and (max-width: 800px) {
    .box{
        width: 250px;
        height: 300px;
        position: absolute;
        
    }  
    .box h4{
        font-size: 1.3em;
    }

    .box1{
       right: 460px;
    }
    .box2{
        right: 50px;
    }
    .box2 img{
        margin-left: 70px;
    }
    .box3{
        top: 1590px;
        right: 250px;
    }
    .box4{
        right: 480px;
    }
    .box5{
        top: 1760px;
        right: 60px;
    }
    .box5 h4{
        margin-left: 60px;
    }
    .box6{
        top: 2060px;
        right: 450px;
    }
    .box7{
        top: 2030px;
        right: 170px;
    }
    .fs-2{
        font-size: 1.5em !important;
    }
    .sobre_mi p{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 900px) {
    
    .box1{
        top: 1650px;
       right: 430px;
    }
    .box2{
        top: 1600px;
        right: 50px;
    }
    .box3{
        top: 1800px;
        right: 220px;
    }
    .box4{
        top: 1980px;
        right: 440px;
    }
    .box5{
        top: 2000px;
        right: 10px;
    }
    .box6{
        top: 2260px;
        right: 420px;
    }
    .box7{
        top: 2280px;
        right: 130px;
    }
}

@media screen and (max-width: 600px) {
    
    .box1{
        top: 1650px;
        right: 330px;
    }
    .box2{
        top: 1600px;
        right: 10px;
    }
    .box3{
        top: 1900px;
        right: 170px;
    }
    .box4{
        top: 1980px;
        right: 340px;
    }
    .box5{
        top: 2000px;
        right: 0px;
    }
    .box6{
        top: 2260px;
        right: 300px;
    }
    .box7{
        top: 2280px;
        right: 80px;
    }


    .cercle{
        width: 150px;
        height: 150px;
    }
    .percent p{
        font-size: 2em;
    }
    .num p{
        font-size: 1.5em;
    }
    .formacioText h2{
        margin-top: 0px;
    }
    .coneixements{
        height: 1900px;
    }
    .containerFooter p{
        font-size: 0.6em;
    }
}
@media screen and (max-width: 500px) {
    .box{
        width: 150px;
        height: 250px;
        position: absolute;
    }  
    .box h4{
        font-size: 1em;
    }
    .box img{
        width: 100px;
    }
    .box1{
       right: 260px;
    }
    .box2{
        right: 50px;
    }
    .box2 img{
        margin-left: 15px;
    }
    .box3{
        top: 1790px;
        right: 130px;
    }
    .box4{
        top: 1920px;
        right: 260px;
    }
    .box5{
        top: 1950px;
        right: 10px;
    }
    .box5 h4{
        margin-left: 20px;
    }
    .box6{
        top: 2150px;
        right: 250px;
    }
    .box6 img{
        width: 50px;
    }
    .box7{
        top: 2180px;
        right: 70px;
    }
    .fs-2{
        font-size: 1.5em !important;
    }
    .sobre_mi p{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 769px) {
    
    h3{
        text-align: center;
        margin-top: 30px;
    }
    .sobre_mi p{
        text-align: center;
        
    }
}